<footer class="tnvo-footer">
  <div class="container">
    <div class="tnvo-footer__identity">
      <div class="tnvo-footer__whoiam"><%= meta.name %></div>
      <a href="<%= relPath %>#home" class="tnvo-footer__logo" aria-label="Home" rel="home">
        <img src='<%= relPath %>assets/images/tnvo-logo.svg' alt="<%= meta.name %> <%= whatIDo %> logo" title="<%= meta.name %> <%= whatIDo %> | Savor the Sound"/>
      </a>
      <div class="tnvo-footer__whatido"><%= whatIDo %></div>
    </div>
    <p>
      <snan class="tnvo-footer__copyright">&copy; <span id="copyrightYear">2019</span> <%= legalName %></snan>
      <span class="tnvo-footer__links">
        <a href="<%= relPath %>privacy">Privacy Policy</a>
      </span>
    </p>
    <p class="tnvo-footer__contact">
      <span>
      <a href="emailTom" aria-label="<%= emailLabel %>" target="_blank">
        <span class="obfuscatedContact" aria-hidden="true">
          <%- obfuscatedEmail %>
        </span>
      </a>
      </span>
      <span>
      <a href="phoneTom" aria-label="<%= phoneLabel %>">
        <span class="obfuscatedContact" aria-hidden="true">
          <%- obfuscatedPhone %>
        </span>
      </a>
      </span>
      <%# include('_social-links.ejs', {socialBaseClass: 'tnvo-footer'}) %>
    </p>
  </div>
</footer>