<header class="tnvo-header" role="banner">
  <div class="tnvo-header__top">
    <div class="container">
      <div class="tnvo-header__identity">
        <div class="tnvo-header__whoiam"><%= meta.name %></div>
        <a href="#home" class="tnvo-header__logo">
          <img src='../assets/images/tnvo-logo.svg' />
        </a>
        <div class="tnvo-header__whatido"><%= whatIDo %></div>
      </div>
      <div class="tnvo-header__contact">
        <div>
          <a href="emailTom" aria-label="<%= emailLabel %>">
            <span class="obfuscatedContact" aria-hidden="true">
              <%- obfuscatedEmail %>
            </span>
          </a>
        </div>

        <div>
          <a href="phoneTom" aria-label="<%= phoneLabel %>">
            <span class="obfuscatedContact" aria-hidden="true">
              <%- obfuscatedPhone %>
            </span>
          </a>
        </div>
        <%# include('_social-links.ejs', {socialBaseClass: 'tnvo-header'}) %>
      </div>
    </div>
  </div>
  <div class="tnvo-header__menu-container">
    <div class="container">
      <nav class="tnvo-header__menu">
        <a href="#home">Home</a>
        <a href="#demos">Demos</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </nav>
    </div>
  </div>
</header>