<header class="tnvo-header" role="banner">
  <div class="tnvo-header__top-hat">
    <div class="container">
      <div class="tnvo-header__contact">
        <span>
          <a href="emailTom" aria-label="<%= emailLabel %>" target="_blank">
            <span class="obfuscatedContact" aria-hidden="true">
              <%- obfuscatedEmail %>
            </span>
          </a>
        </span>

        <span>
          <a href="phoneTom" aria-label="<%= phoneLabel %>">
            <span class="obfuscatedContact" aria-hidden="true">
              <%- obfuscatedPhone %>
            </span>
          </a>
        </span>
        <%# include('_social-links.ejs', {socialBaseClass: 'tnvo-header'}) %>
      </div>
    </div>
  </div>

  <div class="tnvo-header__menu-container">
    <div class="container">
      <a href="<%= relPath %>#home" rel="home" class="tnvo-header__logo" tabindex="-1">
        <img src='<%= relPath %>assets/images/tnvo-logo.svg' alt="<%= meta.name %> <%= whatIDo %> | Savor the Sound" title="<%= meta.name %> <%= whatIDo %> | Savor the Sound"/>
      </a>
      <nav class="tnvo-header__menu">
        <a href="<%= relPath %>#home">Home</a>
        <a href="<%= relPath %>#demos">Demos</a>
        <a href="<%= relPath %>#about">About</a>
        <a href="<%= relPath %>#contact">Contact</a>
      </nav>
    </div>
  </div>
</header>