<div class="section-about" id="about">
  <div class="container">
    <div class="section-heading">
      <h2>
        <div>Tom Nunes</div>
        <div class="section-sub-heading">Professional Voice Actor</div>
      </h2>
    </div>
    <p>
      <em>Light and mellow, smooth and balanced, bold and intense.</em>
    </p>
    <p>
      Whatever your taste, Tom has
      the vocal blend to carry your message. Drawing from his 30 years of professional
      experiences, Tom produces an <strong>authoritative yet approachable</strong> voiceover suitable
      for <strong>commercials, explainer videos, eLearning, and corporate narration</strong>.
    </p>
    <p>
      From his studio in the Greater Hartford area, Tom produces production quality audio in all
      major formats with fast turnaround. He can <strong>connect remotely for directed sessions over
        Source-Connect, ipDTL, bodalgoCall, Skype</strong> or any web-based
      communication platform. And he can easily commute to NYC or Boston for studio sessions.
    </p>
    <p>
      As many before you, you will appreciate Tom for his professionalism and attention to detail.
      You can trust him to treat your project with the same importance you do, and to partner with you to deliver
      quality
      results in a timely manner. And Tom is a pleasure to work with, so you can also count on him for a few laughs
      &mdash;
      like enjoying coffee with a friend.
    </p>
    <p>
      Ready to savor the sound? Then <a href="#contact"><strong>let's get brewing!</strong></a>
    </p>

    <div class="about-summaries">
      <div>
        <div class="about-summary">
          <h3 class="h4">In the Studio</h3>
          <ul>
            <li>Roswell Pro Audio RA-VO microphone</li>
            <li>Motu M2 Audio Interface</li>
            <li>Twisted Wave</li>
            <li>Mac mini running Catalina</li>
            <li>Noise floor under -60dB</li>
          </ul>
          <% if (rawSample) { %>
          <div class="raw-sample-demo-player-container">
            <figure class="demo-player raw-sample-demo-player">
              <figcaption class="demo-player__heading"><%= rawSample.label %></figcaption>
              <audio controls hidden preload="none">
                <source src="audio/<%- rawSample.file %>" />
                <p>
                  You're browser does not support audio. <a href="audio/<%- rawSample.file %>" download>Download this
                    demo</a>.
                </p>
              </audio>
              <div class="demo-player__wrapper">
                <button id="raw-studio-sample" class="demo-player__play-pause" aria-label="play" title="play">
                  <span class="demo-player__play-pause-icon" role="presentation">
                    <svg class="circle-icon" focusable="false">
                      <use xlink:href="#icon-circle"></use>
                    </svg>
                    <svg class="loading-icon" focusable="false">
                      <use xlink:href="#icon-loading"></use>
                    </svg>
                    <svg class="play-icon" focusable="false">
                      <use xlink:href="#icon-play"></use>
                    </svg>
                    <svg class="pause-icon" focusable="false">
                      <use xlink:href="#icon-pause"></use>
                    </svg>
                    <span class="sr-only">refreshed</span>
                  </span>
                </button>
                <div class="demo-player__progress" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                  aria-valuemax="<%- rawSample.duration %>">
                  <div class="demo-player__progressbar"></div>
                </div>
                <a href="audio/<%- rawSample.file %>" class="demo-player__download" download aria-label="download demo"
                  title="download demo">
                  <svg class="download-icon" focusable="false">
                    <use xlink:href="#icon-download"></use>
                  </svg>
                </a>
                <ol class="demo-player__tracks">
                  <li>
                    <button class="demo-player__track" data-audio="(descriptiveAudioName)" data-duration="<%- rawSample.duration %>">
                      <span class="sr-only">Play track</span>
                      <span class="demo-player__track-name">(track.name)</span>
                      <div class="demo-player__track-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="<%- rawSample.duration %>">
                        <div class="demo-player__track-progressbar"></div>
                      </div>
                    </button>
                  </li>
                </ol>
              </div>
            </figure>
          </div>
          <% } %>
        </div>
      </div>
      <div>
        <div class="about-summary">
          <h3 class="h4">Voice Over Genres</h3>
          <ul>
            <li>Commericial</li>
            <li>eLearning</li>
            <li>Explainer videos</li>
            <li>Corporate narration / Industrials</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="about-summary">
          <h3 class="h4">Voice Profile</h3>
          <ul>
            <li>Male adult, middle age</li>
            <li>Authentic</li>
            <li>Calming authority</li>
            <li>Trustworthy</li>
            <li>Approachable</li>
            <li>Guy next door</li>
            <li>Whimsical</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>